//Import
@use '../custom' as *;
@use '../components/mixins' as *;

//BTN CELLPHONE
.btn-rounded{
    //Function for smarthphones
    @include media-breakpoint-down(sm){
        display:none; //remove the button
    }
    //dimensions
    position: relative;
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight: 700;
    margin: 0;
    border-radius: 0.1rem solid rgba($white, 0.6);
    //color
    background-color: $white;

    //Icon whatsapp
    span{
        //dimensions
        position: absolute;
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        top: 15%;
        right: 2px;
        transform: translate(-50%);
        border-radius: 50%;

        i{
            //color
            color: $white;
            //dimensions
            font-size: 1rem;
            line-height: 2.5rem;
        }
    }

    &:hover{
        @include gradient;
        color: $white;

        span{
            background-color: rgba($black, 0.6);
        }
    }
}